<ul class="links">
  <div class="links__profile">
    <mat-icon class="links__icon">account_circle</mat-icon>
    <h3 *ngIf="user as user">
      {{ user.firstName | titlecase }}
    </h3>
    <li
      class="link"
      (click)="drawer.close()"
      routerLink="/user/profile"
      routerLinkActive="link-active"
    >
      Meu Perfil
    </li>
  </div>

  <div class="links__navigation">
    <li
      class="link"
      (click)="drawer.close()"
      routerLink="/dashboard/admin"
      routerLinkActive="link-active"
      *ngIf="user.role.toLowerCase() !== 'executor' && this.isMobile === false"
    >
      <p>Métricas</p>
    </li>
    <li
      class="link"
      (click)="drawer.close()"
      routerLink="/dashboard/orders"
      routerLinkActive="link-active"
    >
      <p>Pedidos</p>
    </li>
    <li
      class="link"
      (click)="drawer.close()"
      routerLink="/dashboard/customers"
      routerLinkActive="link-active"
      *ngIf="user.role.toLowerCase() !== 'executor'"
    >
      <p>Clientes</p>
    </li>
    <li
      class="link"
      (click)="drawer.close()"
      routerLink="/dashboard/items"
      routerLinkActive="link-active"
      *ngIf="user.role.toLowerCase() !== 'executor'"
    >
      <p>Modelos</p>
    </li>
  </div>

  <div class="links__footer">
    <div class="links__exit">
      <mat-icon color="warn">power_settings_new</mat-icon>
      <li (click)="logout()">Sair</li>
    </div>
  </div>

  <li
    class="links__profile-desktop"
    *ngIf="user as user"
    [mat-menu-trigger-for]="menu"
  >
    {{ user.firstName | titlecase }} <mat-icon>arrow_drop_down</mat-icon>
  </li>
</ul>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon color="warn">power_settings_new</mat-icon>
    Sair
  </button>
</mat-menu>
