<div class="container">
  <div class="charts">
    <div class="charts__top">
      <app-doughnut-chart
        title="Estados"
        subtitle="As 10 regiões que mais compraram"
        source="region"
      ></app-doughnut-chart>
      <app-doughnut-chart
        title="Modelos"
        subtitle="Os 10 modelos mais vendidos"
        source="model"
      ></app-doughnut-chart>
    </div>

    <div class="charts__bottom">
      <app-bar-line-chart
        title="Faturamento no período"
        source="revenue"
      ></app-bar-line-chart>
      <app-bar-line-chart
        title="Pedidos no período"
        source="orders"
      ></app-bar-line-chart>
    </div>
  </div>

  <div class="statistics">
    <app-statistics></app-statistics>
  </div>
</div>
