<mat-toolbar class="container mat-elevation-z3">
  <div class="toolbar">
    <div class="toolbar__content">
      <div>
        <mat-icon>{{ icon }}</mat-icon>
      </div>

      <div class="toolbar__headers">
        <h2>{{ title }}</h2>
        <p class="toolbar__description" *ngIf="descripton.length > 0">
          {{ descripton }}
        </p>
      </div>
    </div>
    <div class="toolbar__buttons">
      <button
        mat-stroked-button
        color="accent"
        *ngIf="listButton"
        routerLink="{{ route }}"
      >
        Listar {{ btnLabel }}
      </button>

      <button
        mat-stroked-button
        *ngIf="showMenu"
        [matMenuTriggerFor]="attributesMenu"
      >
        Detalhes
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #attributesMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/attributes/set">Conjuntos</button>
        <button mat-menu-item routerLink="/attributes/color">Cores</button>
        <button mat-menu-item routerLink="/attributes/fabric">Tecidos</button>
        <button mat-menu-item routerLink="/attributes/size">Tamanhos</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
