<app-title
  [icon]="'local_offer'"
  [title]="'Modelos'"
  [descripton]="
    'Visualize e gerencie seus os modelos. Edite ou crie novos modelos e acesse os detalhes associados, como cores, tecidos, tamanhos e conjuntos.'
  "
  [showMenu]="true"
>
</app-title>

<app-tableHeader
  (keyPressed)="filterItems($event)"
  placeholder="Vestido Longo"
  label="Novo Modelo"
  route="/item"
></app-tableHeader>

<div class="responsive-table">
  <table class="mat-elevation-z8" mat-table matSort [dataSource]="dataSource">
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of displayedColumns"
    >
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        {{ columnHeader(column) }}
      </th>
      <td mat-cell *matCellDef="let item">
        <div class="cell">
          <div class="cell__content">
            {{ column == "set" ? item[column]?.name : item[column] }}
          </div>
          <button
            *ngIf="column == 'price'"
            class="button"
            mat-icon-button
            aria-label="Icon Button to edit an item"
            routerLink="/item/{{ item.id }}"
          >
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  class="table__paginator"
  aria-label="Select page of items"
>
</mat-paginator>

<app-buttonAdd [route]="'/item'"></app-buttonAdd>
