<app-title
  title="Conjuntos"
  icon="edit_attributes"
  descripton="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem hic labore quas aliquam nemo."
  [listButton]="true"
  btnLabel="Modelos"
  route="/dashboard/items"
>
</app-title>

<div class="container">
  <app-attributesNavigation [setButton]="false"></app-attributesNavigation>

  <div class="attribute">
    <div class="attribute__field">
      <mat-form-field
        class="field__input"
        appearance="fill"
        subscriptSizing="dynamic"
      >
        <mat-label>Conjunto</mat-label>
        <input #setName [(ngModel)]="set.name" matInput />
      </mat-form-field>
      <div class="buttons">
        <button
          *ngIf="set.id != 0"
          (click)="clearSet()"
          class="button"
          mat-stroked-button
          color="warn"
        >
          <mat-icon>cancel</mat-icon> Cancelar
        </button>
        <button
          (click)="saveSet()"
          class="button"
          mat-raised-button
          color="accent"
          [disabled]="setName.value.trim().length === 0"
        >
          <mat-icon>check</mat-icon>
          {{ set.id == 0 ? "Cadastrar" : "Salvar" }}
        </button>
      </div>
    </div>

    <mat-card>
      <mat-card-header><h2>Conjuntos Disponíveis</h2></mat-card-header>
      <mat-card-content>
        <ul class="attribute__list">
          <li *ngFor="let set of sets">
            <mat-divider></mat-divider>
            <div class="list__item">
              <p class="item__color">{{ set.name }}</p>
              <div>
                <button
                  (click)="loadSet(set.id)"
                  mat-icon-button
                  color="accent"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  (click)="openModal(set.id, set.name)"
                  mat-icon-button
                  color="warn"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider></mat-divider>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
