<app-title
  [icon]="'playlist_add'"
  [title]="
    requestMethod === 'POST' ? 'Cadastro de Modelos' : 'Edição de Modelos'
  "
  [descripton]="
    requestMethod === 'POST'
      ? 'Registre novos modelos adicionando imagens e vinculando cores, tamanhos e tecidos.'
      : 'Edite as imagens, cores, tamanhos e tecidos de um modelo. Acesse também a página de medidas do modelo.'
  "
  [listButton]="true"
  [showMenu]="true"
  [btnLabel]="'Modelos'"
  [route]="'/dashboard/items'"
>
</app-title>

<app-itemForm [itemId]="this.itemId"></app-itemForm>
