<div class="filter">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input
      matInput
      (keyup)="setFilterValue()"
      placeholder="{{ placeholder }}"
      [(ngModel)]="filterValue"
      #input
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="accent"
    class="button"
    *ngIf="user.role.toLowerCase() !== 'executor'"
    [routerLink]="buttonClick.observed ? null : '/' + route"
    (click)="buttonClick.observed ? buttonClick.emit() : null"
  >
    <mat-icon>playlist_add</mat-icon>
    {{ label }}
  </button>
</div>
